# 编译生成的中间文件
*.o
*.obj
*.ko
*.elf
# 编译生成的可执行文件
*.exe
*.out
*.app
*.i86
*.i386
*.x86_64
*.hex
# 动态/静态库文件
*.a
*.lib
*.so
*.dylib
*.dll
# CMake 构建目录
build/
cmake-build-*/
CMakeCache.txt
CMakeFiles/
cmake_install.cmake
Makefile
# VSCode 配置文件 (如果你不想上传编辑器配置)
.vscode/
*.code-workspace
# 系统文件
.DS_Store
Thumbs.db
